# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.venv/
venv/
env/

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de IDE
.vscode/
.idea/
*.swp
*.swo

# Archivos temporales
*.tmp
*.log